<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Hi!<BR>
{% if not request.user %}
    <a href = "/auth/login/">Войти в качестве преподавателя</a>

    {% else %}
    {{ request.user.username }}<BR>
    <a href="/auth/logout/">Выйти</a>
{% endif %}
<a href="/add/"> Добавить</a>
{% block login %}{% endblock %}
{% block thanks %}{% endblock %}
{% block add %}{% endblock %}
{% for doc in document %}
    <p>Автор: {{ doc.author }}</p>
    <p>Название документа: {{ doc.name }}</p>
    <p>Формат документа: {{ doc.format }}</p>
    <p>Специальность: {{ doc.special }}</p>
    <p>Тип документа: {{ doc.document_type }}</p>
    <p><a href="{{ doc.document.url }}">Документ</a></p>
{% endfor %}

</body>
</html>