<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if not request.user.username %}
    <a href = "/auth/login/">Войти в качестве преподавателя</a>

    {% else %}
    Пользователь: {{ request.user.username }}<BR>
    <a href="/auth/logout/">Выйти</a>
{% endif %}
<a href="/add/"> Добавить (требуется авторизация)</a>
<a href="/search/">Поиск</a>
{% block login %}{% endblock %}
{% block thanks %}{% endblock %}
{% block add %}{% endblock %}
{% block update %}{% endblock %}
{% block search %}{% endblock %}
{% for doc in document %}
    <p>Автор: {{ doc.author }}</p>
    <p>Название документа: {{ doc.name }}</p>
    <p>Формат документа: {{ doc.format }}</p>
    <p>Специальность: {{ doc.special }}</p>
    <p>Тип документа: {{ doc.document_type }}</p>
    <p><a href="{{ doc.document.url }}">Документ</a></p>
    {% if request.user.username %}
    <div><a href="/delete/{{ doc.id }}">Удалить </a> (Внимание, это действие невозможно отменить!)
        <a href="/update/{{ doc.id }}"> Изменить</a></div>
    {% endif %}
    <hr>
{% endfor %}

</body>
</html>